<div id="wrapper">

  <app-menu-lateral *ngIf="mostrarMenuLateral"></app-menu-lateral>

  <div id="page-wrapper" class="gray-bg">

    <app-menu-superior *ngIf="mostrarMenuSuperior" [mostrandoMenuLateral]="mostrarMenuLateral"></app-menu-superior>
    
    <div class="wrapper wrapper-content animated fadeInRight">
      <router-outlet></router-outlet>
    </div>
    <app-footer *ngIf="mostrarFooter" class="m-t-md"></app-footer>

  </div>

</div>

<app-toasts [mensagem]="mensagensService.notificacoes"></app-toasts>
<app-modal></app-modal>